.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // .sidebar-header__close-btn
  &__close-btn {
    padding: 0.5rem;
  }
}

.logo-box {
  display: inline-flex;
  align-items: center;
  gap: 0 1rem;
  // .logo-box__image
  &__image {
    max-width: 5rem;
  }
  // .logo-box__title
  &__title {
    font-weight: 700;
  }
}

.sidebar-btn-box {
  padding: 0.75rem 0;
  background-color: #252525;
}
