<header class="header">
  <div class="header__container">
    <app-menu-sidebar></app-menu-sidebar>
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__item">
          <a [routerLink]="['/favorites']" routerLinkActive="active-link" class="header__link">My Favorites</a>
        </li>
        <li class="header__item">
          <a [routerLink]="['/watch-later']" routerLinkActive="active-link" class="header__link">Watch Later</a>
        </li>
      </ul>
    </nav>
  </div>
</header>