.news-subscription {
  padding: 3rem 0;
  // .news-subscription__container
  &__container {
    max-width: 48.75rem;
    border: 1.5px solid #c6c6c6;
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 0.5rem;
  }
  // .news-subscription__title
  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  // .news-subscription__subtitle
  &__subtitle {
    color: #a5a5a5;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 1.75rem;
    }
  }
}
.form-news {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 0;
  margin: 0 -0.75rem;
  // .class="form-news__item
  &__item {
    flex: 0 1 50%;
    padding: 0 0.75rem;
    // .form-news__item_center
    &_center {
      display: inline-flex;
      align-items: center;
      gap: 0 0.5rem;
    }
  }
  // .form-news__checkbox-label
  &__checkbox-label {
    cursor: pointer;
    color: #a5a5a5;
    font-size: 0.875rem;
  }
}
.subscriber-info {
  // .subscriber-info__list
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 0 1.75rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  // .subscriber-info__item
  &__item {
  }
  // .subscriber-info__text
  &__text {
    font-size: 0.875rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
