<div class="movie-page">
  <div class="movie-page__container">
    <div *rxIf="movie$; let movie" class="movie-page__content">
      <div class="movie-page__image-box">
        <img [src]="'https://image.tmdb.org/t/p/w500'+movie.poster_path | defaultImage:'../../../assets/images/movies-card/not-found.jpg'" [alt]="movie.title" class="movie-page__img">
      </div>
      <div class="movie-page__details">
        <h1 class="movie-page__title title">{{movie.title}}</h1>
        <ul class="movie-page__list">
          <li class="movie-page__item">Release date <span>{{movie.release_date | date: 'dd.MM.yyyy'}}</span></li>
          <li class="movie-page__item">Rating <span>{{movie.vote_average | number:'1.1-1'}}</span></li>
        </ul>
        <p class="movie-page__overview">{{ movie.overview }}</p>
      </div>
    </div>
  </div>
</div>
<app-news-subscription></app-news-subscription>