<p-card styleClass="movie">
  <ng-template pTemplate="header">
    <p-button [icon]="watchLaterIcon" [rounded]="true" [outlined]="true" (click)="toggleMovieToWatchLater(movie.id)"></p-button>
    <p-button [icon]="favoritesIcon" [rounded]="true" [outlined]="true" (click)="toggleMovieToFavorite(movie.id)"></p-button>
  </ng-template>
  <div class="movie__content">
    <h3 class="movie__title" [pTooltip]="movie.title" tooltipPosition="top" showDelay="700" hideDelay="300">
      <a [routerLink]="['/movie', movie.id]">{{ movie.title | truncate: 20 }}</a>
    </h3>
    <ul class="movie__info">
      <li>Release date <span>{{ movie.release_date | date: 'dd.MM.yyyy'}}</span></li>
      <li>Rating <span>{{ movie.vote_average | number:'1.1-1' }}</span></li>
    </ul>
    <p class="movie__description">{{ movie.overview | truncate: 250 }}</p>
  </div>
  <img [src]="imageSrc | defaultImage:defaultImageSrc" [alt]="movie.title" class="movie__poster">
</p-card>