<p-card styleClass="movie">
  <ng-template pTemplate="header">
    @if (movie.isWatchLater) {
    <p-button icon="pi pi-bookmark-fill" [rounded]="true" [outlined]="true" (click)="addToWatchLater()"></p-button>
    } @else {
    <p-button icon="pi pi-bookmark" [rounded]="true" [outlined]="true" (click)="addToWatchLater()"></p-button>
    }
    @if (movie.isFavorite) {
    <p-button icon="pi pi-heart-fill" [rounded]="true" [outlined]="true" (click)="addToFavorites()"></p-button>
    } @else {
    <p-button icon="pi pi-heart" [rounded]="true" [outlined]="true" (click)="addToFavorites()"></p-button>
    }
  </ng-template>
  <div class="movie__content">
    <h3 class="movie__title" [pTooltip]="movie.title" tooltipPosition="top" showDelay="700" hideDelay="300">{{ movie.title | truncate: 20 }}</h3>
    <ul class="movie__info">
      <li>Running time <span>{{ movie.time | time }}</span></li>
      <li>Directed by <span>{{ movie.director }}</span></li>
    </ul>
    <p class="movie__description">{{ movie.description }}</p>
  </div>
  <img [src]="movie.poster | defaultImage:'../../../assets/images/movies-card/not-found.jpg'" [alt]="movie.title" class="movie__poster">
</p-card>