<div class="page">
  <div class="page__container">
    <h1 class="page__title title">{{ title$ | async }}</h1>
    <app-filters></app-filters>
    <ng-container *rxIf="sortedMovies$; let sortedMovies">
      <app-movies-list [movies]="sortedMovies"></app-movies-list>
      <div *rxIf="totalRecords$; let totalRecords" class="pagination"><p-paginator [first]="(first$ | async) || 0" [rows]="20" [totalRecords]="totalRecords" [showFirstLastIcon]="false" (onPageChange)="onPageChange($event)" /></div>
    </ng-container>
  </div>
</div>